# Ignore the .idea directory (JetBrains project files)
.idea/

# Ignore Python virtual environment directories
.venv/
env/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore other files
catalyst_count/uploads/companies_sorted*.csv
